trigger:
  - main
  - refs/tags/*

resources:
  repositories:
    - repository: internal-templates
      type: github
      name: xamarin/yaml-templates
      endpoint: xamarin
      ref: refs/heads/main
    - repository: components
      type: github
      name: xamarin/XamarinComponents
      endpoint: xamarin

variables:
  DotNetVersion: 6.0.300
  BUILD_COMMIT: $(Build.SourceVersion)
  BUILD_NUMBER: $(Build.BuildNumber)

jobs:
  - template: .ci/build.yml@components
    parameters:
      timeoutInMinutes: 180
      areaPath: 'DevDiv\Xamarin SDK\iOS and Mac'
      cakeTarget: 'ci'
      cakeExtraArgs: '--names=$(SdksNames)'
      windowsImage: ''
      xcode: '13.2'
      initSteps:
        - task: UseDotNet@2
          displayName: install .NET $(DotNetVersion)
          inputs:
            version: $(DotNetVersion)
        - pwsh: |
            dotnet workload install ios --from-rollback-file https://maui.blob.core.windows.net/metadata/rollbacks/6.0.3xx.json --source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json --source https://api.nuget.org/v3/index.json
          displayName: Install .NET 6 iOS Workload
          condition: eq(variables['System.JobName'], 'macos')

  - ${{ if eq(variables['System.TeamProject'], 'devdiv') }}:
    - template: sign-artifacts/jobs/v2.yml@internal-templates
      parameters:
        dependsOn: [ 'build' ]
        condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')

    - template: compliance/sbom/job.v1.yml@internal-templates                 # Software Bill of Materials (SBOM): https://eng.ms/docs/cloud-ai-platform/devdiv/one-engineering-system-1es/1es-docs/secure-supply-chain/ado-sbom-generator
      parameters:
        packageName: 'Xamarin Google APIs Components for iOS'
        packageFilter: '*.nupkg'
        ${{ if not(startsWith(variables['Build.SourceBranch'], 'refs/tags/')) }}:
          artifactNames: ['nuget']
          dependsOn: [ 'build' ]
        ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags/') }}:
          artifactNames: ['nuget-signed']
          dependsOn: [ 'signing' ]
